<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647033509303-526mu52jmisji1k4bt61g74enba6kcka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647033509303-526mu52jmisji1k4bt61g74enba6kcka</string>
	<key>API_KEY</key>
	<string>AIzaSyANK8b3JkJnIDKS_jBZLOkz_bI4iSSY6zo</string>
	<key>GCM_SENDER_ID</key>
	<string>647033509303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhoyful.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-3484e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-3484e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647033509303:ios:f957080b62612387494432</string>
</dict>
</plist>